<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Flirt Software</string>
	<key>CFBundleDisplayName</key>
	<string>Tabs Utilities</string>
	<key>CFBundleIdentifier</key>
	<string>com.flirtsw.safari.tab-utils</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>closeDuplicateTabs</string>
				<key>Identifier</key>
				<string>CloseDuplicateTabs</string>
				<key>Image</key>
				<string>close-duplicate-tabs-icon.png</string>
				<key>Label</key>
				<string>Close Duplicate Tabs</string>
				<key>Palette Label</key>
				<string></string>
				<key>Tool Tip</key>
				<string>Closes tabs that have the same URL</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>consolidateTabs</string>
				<key>Identifier</key>
				<string>ConsolidateTabs</string>
				<key>Image</key>
				<string>consolidate-tabs-icon.png</string>
				<key>Label</key>
				<string>Consolidate Tabs</string>
				<key>Tool Tip</key>
				<string>Group tabs with the same domain into a new window</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Buttons to close duplicate tabs and consolidate tabs by domain name.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://www.flirtsw.com /safari/updates.plist</string>
	<key>Website</key>
	<string>http://www.flirtsw.com</string>
</dict>
</plist>
